.donation_container {
    height: auto;
    margin: 40px 10px;
    ::selection {
        background-color: transparent;
    }

    h3 {
        margin: 0 30px;
        font-weight: 300;
        font-size: 1.4em;
        font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    hr {
        margin: 12px 20px;
    }

    .checkout_steps {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}

.form_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

    div {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin: 5px;

        label {
            color: #6b7c93;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 0.025em;
            margin: 5px;
        }

        input {
            outline: none;
            font-size: 18px;
            padding: 10px;
            border-radius: 2px;
            border: none;
            box-shadow: 0 0 5px rgb(238, 238, 238);
            background-color: rgb(255, 255, 255);
            color: rgb(100, 100, 100);
            font-weight: 300;
            font-family: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
        }
    }
}

.donor_wrapper div {
    &:nth-child(1),
    &:nth-child(2) {
        width: 40vw;
    }
}

.payment_wrapper div {
    &:nth-child(3),
    &:nth-child(4) {
        width: 40vw;
    }
}
