@import './vars.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs {
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    .blog {
        min-height: 50vh;
        background-color: white;
        border: 2px solid rgb(245, 245, 245);
        box-shadow: 2px 2px 3px rgb(202, 202, 202);
        border-radius: 5px;
        padding: 20px;
        transition: 0.6s ease;
        margin: 20px;

        &:hover {
            box-shadow: 2px 2px 25px rgb(202, 202, 202);
        }
        a {
            text-decoration: none;
            color: inherit;
            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 120px;
                margin: 40px 0;
                background-color: rgb(255, 255, 255);
                box-shadow: 4px 4px 30px rgb(235, 235, 235);
                border-radius: 5px;
            }
        }
    }
}

.images {
    width: 200px;
    padding: 20px;
}

.pagination {
    font-size: 27px;
    display: block;
    a {
        text-decoration: none;
        color: blue;
        margin: 0 4px;
        transition: $ease;
        padding: 10px;
        &.highlight {
            color: rgb(255, 0, 0);
            text-shadow: 2px 2px 10px rgb(255, 0, 0);
        }
        &:hover {
            color: red;
            cursor: pointer;
        }
    }
}

.youtube iframe {
    width: 70vw;
    height: 35vw;
    border: 10px solid rgb(235, 235, 235);
}
