@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');

$back-col: rgb(255, 255, 255);
$prime-col: rgb(66, 66, 66);
$second-col: rgb(34, 79, 97);
$hover-col: rgb(255, 60, 0);
$border-col: rgb(180, 180, 180);

$ease: 0.7s ease;
